.caltab-UpcomingLunch [data-caltab] {
	td {
		.name {
			text-decoration: underline;
			text-decoration-color: var(--fg-accent2);

			[data-vegetarian="true"] &::after {
				display: inline-block;
				content: "\1f331";
				margin-left: 0.5rem;
			}
		}

		.sides {
			font-style: italic;
			color: hsl(from var(--fg-plain) h s 30%);
			padding-inline-start: 1rem;
			list-style-type: "\2013";
			margin: 0.5rem 0 0;

			& > * {
				margin-block-start: 0.25rem;
				padding-inline-start: 0.25rem;
				font-size: 80%;
			}
		}
	}
}
