[data-caltab] {
	th {
		* {
			margin: 0;
		}

		.date {
			font-weight: bold;
			font-size: 67%;
		}

		.time {
			font-weight: bold;
		}
	}

	td {
		ul {
			list-style-type: none;
			padding-inline-start: 0;
			margin-block: 0;
		}

		.event {
			&:not(:first-child) {
				margin-block-start: 1rem;
			}

			& > * {
				margin: 0.25rem 0 0;
			}

			.summary {
				text-decoration: underline;
				text-decoration-color: var(--fg-accent2);
				margin: 0 0 0.5rem;

				.sport {
					font-weight: bold;
				}
			}

			.match {
				font-size: 80%;

				.opponent {
					font-weight: bold;
					color: var(--bg-accent2);
				}
			}

			.location {
				font-size: 80%;
				font-style: italic;
				color: hsl(from var(--fg-plain) h s 40%);

				& > :last-child {
					font-size: 90%;
				}
			}

			[class*="material-symbols"] {
				font-size: 120%;
				font-style: normal;
				vertical-align: bottom;
			}
		}
	}
}
