.schedule-header {
	box-sizing: border-box;
	width: 100%;
	display: inline-flex;
	flex-flow: row;
	justify-content: start;
	align-items: stretch;
	gap: 1rem;
	padding-inline: 1rem;
	margin-block: 1rem;
	font-family: var(--font-title);

	.letter-box {
		margin: auto 0;
		height: 15vh;
		aspect-ratio: 1/1;
		font-weight: 900;
	}

	.letter {
		color: var(--fg-accent1);
	}

	.letter-star {
		color: var(--fg-accent2);
	}

	.headlines {
		display: flex;
		flex-flow: column-reverse nowrap;
		justify-content: center;
		align-items: start;
		margin-block: 1rem;
		font-size: 180%;
		gap: 0.5rem;

		.quirk {
			color: var(--fg-accent2);
			font-weight: 700;
			font-style: italic;
		}

		.humanDate {
			font-size: 125%;
		}

		.fullDate {
			font-size: 80%;
		}
	}
}

.bell-sched {
	margin: 0 1rem;
	text-align: center;
	font-size: 150%;

	&.none {
		text-decoration: underline;
	}

	&.html {
		align-self: start;
		text-align: start;
		white-space: nowrap;
	}

	&.html > *,
	&.text > * {
		margin-block: 0 0.5rem;
	}

	&.table {
		table-layout: fixed;
		border-collapse: collapse;

		.line:not(:last-child) > * {
			padding-block-end: 1rem;
		}

		.line > :first-child {
			text-align: end;
			padding-inline-end: 2rem;
			border-inline-end: 0.15rem solid var(--fg-accent1);
		}

		.line > :last-child {
			text-align: start;
			padding-inline-start: 2rem;
		}

		.line[data-lunch] > :last-child {
			padding-inline-start: 3rem;
			font-weight: normal;
			font-style: italic;
			text-transform: capitalize;
		}
	}
}
