.bell-sched {
	&.none {
		text-decoration: underline;
	}

	&.html {
		white-space: nowrap;
	}

	&.html > *,
	&.text > * {
		margin-block: 0 0.5rem;
	}
}

/* Whole mess of corrections to remove border spacing */
.caltab-BellSchedule table {
	border-collapse: collapse !important;
	border-spacing: 0 !important;
	margin: 0 !important;
	max-height: 100% !important;

	thead th {
		top: 0 !important;
		padding-block-end: 1rem;
		background-image: linear-gradient(
			var(--bg-plain) calc(80% - 1rem),
			transparent calc(100% - 1rem)
		) !important;
	}
}

.caltab-BellSchedule [data-caltab] {
	tr[data-lunch] {
		font-style: italic;
		font-size: 80%;

		th, td {
			color: hsl(from var(--fg-plain) h s 40%);
		}
	}

	th {
		font-weight: normal !important;
		padding-inline-end: 2rem;
	}

	td {
		color: var(--bg-accent2);
		font-weight: bold;
		font-size: 100%;
		padding-inline-start: 2rem;
		padding-block: 0.5rem !important;

		[data-lunch] > & {
			padding-inline-start: 3rem;
			font-weight: normal;
			text-transform: capitalize;
		}

		[data-class] > & {
			text-decoration: underline;
			text-decoration-color: var(--fg-accent2);
		}
	}
}

.hiatus {
	*:empty {
		display: none;
	}

	th {
		font-weight: normal;
	}

	.wishes {
		padding-block-start: 1.5rem;
		color: var(--fg-accent1);
		font-style: italic;
		font-size: 80%;
		text-decoration: underline;
		text-decoration-color: var(--bg-dark);
	}

	.names ul {
		list-style-type: none;
		text-align: center;
		margin: 0;
		padding: 1rem 0;

		li:not(:nth-last-child(-n + 2))::after {
			content: ',';
			color: var(--bg-dark);
		}

		li:last-child:not(:first-child)::before {
			content: '&';
			color: var(--bg-dark);
			margin-inline-end: 0.4rem;
		}
	}
}
