.loading {
	position: absolute;
	inset: 2rem;
	margin: 0;
	border-radius: 0.5rem;
	background: var(--fg-accent2);
	opacity: 0.2;
	animation: 1s ease-in-out infinite alternate pulse;

	& > * {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@keyframes pulse {
	0%, 50% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.5;
	}
}
