#root {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-rows: max-content minmax(0, 1fr);
	grid-template-columns: minmax(0, 1fr) max-content;
	grid-auto-flow: column;
	place-items: stretch;
	padding: 2.5rem;
	gap: 1.5rem;

	background-image: linear-gradient(
		to right bottom,
		var(--bg-accent1) 0%,
		var(--bg-accent2) 100%
	);
	background-attachment: fixed;

	& > * {
		border-radius: 1rem;
		background-color: var(--bg-plain);
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 75%);
	}
}
