.carousel-widget {
	position: absolute;
	inset: 0;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: center;

	transition:
		opacity 0.5s ease-out,
		transform 1.0s ease-out;

	&.inbound {
		transform: translateX(100%);
		opacity: 0;
	}
	&.focused {
		transform: translateX(0%);
		opacity: 1;
	}
	&.outbound {
		transform: translateX(-100%);
		opacity: 0;
	}
	&.unloaded {
		visibility: hidden;
		opacity: 0;
	}
}
